.root{
    color:"white";
    text-align: center;
background-color: rgb(43, 49, 55);
}
.root2{
    height: 450px;
       color:"white";
    text-align: center;
background-color: rgb(43, 49, 55);
    display:none;
}
.header{
    padding-top: 10px;
    padding-bottom: 10px;
}
.secondHeader{

    padding-bottom: 20px;
}
.spinner1{
    margin-left: 25%;
}
.info{
    padding-bottom: 10px;
}
.Minfo{
    padding-bottom: 10px;
}
.infobox{
      margin-left:25%;
}

.info2{
    padding-top: 30px;
}
.Minfo2{
   padding-bottom: 10px;
}
.info3{
    white-space:nowrap;
    padding-top: 30px;
}
.info4{
    padding-top: 30px;
}

.desc{
    font-size: small;
   position:absolute;
    left:4%;
     padding-bottom: 20px;
}
.descbox2{
    margin-top: 3%;
    position:absolute;
    left:25%;
}
.descbox3{
    margin-top: 3%;
    position:absolute;
    left:50%;
}
.descbox4{
    margin-top: 3%;
    position:absolute;
    left:76%;
}
.infobox4{
    margin-top: -2%;
    position:absolute;
    left:81.5%;
}
.infobox3{
    margin-top: -2%;
    position:absolute;
    left:56%;
}
.infobox2{
    margin-top: -2%;
    position:absolute;
    left:31%;
}
.Number1{
    font-weight: 700;
    left: 47%;
    font-size: 60px;
    top: 1735px;
     position: absolute;
}
.Number2{
    font-weight: 700;
    left: 47%;
    font-size: 60px;
    top: 2025px;
     position: absolute;
}
.Number3{
    font-weight: 700;
    left: 47%;
    font-size: 60px;
    top: 2340px;
     position: absolute;
}
.Number4{
    font-weight: 700;
    left: 47%;
    font-size: 60px;
    top: 2655px;
     position: absolute;
}
 /* min = minimum required width
 eg min-width 400 = anything not less than 400
  max = the maxium allowed with
  */
@media only screen and (min-width: 761px) {
    .Number1{
     top: 1672px;
     left:50%;
    }
    .Number2{
     top: 1925px;
     left:50%;
    }
    .Number3{
     top: 2205px;
     left:50%;
    }
    .Number4{
     top: 2485px;
     left:50%;
    }
}
@media only screen and (min-width: 1000px) {
    .Number3{
     top: 2205px;
     left:50%;
    }
    .Number4{
     top: 2485px;
     left:50%;
    }
    .info{
          margin-left:40%;
    }
}
@media only screen and (min-width: 1300px) {
   .root{
       display:none;
   }
      .root2{
       display:grid;
   }
   .Number1{
    font-weight: 700;
    left: 11.5%;
    font-size: 60px;
   top:  1235px;
     position: absolute;
}
.Number2{
    font-weight: 700;
    left: 34%;
    font-size: 60px;
    top:   1235px;
     position: absolute;
}
.Number3{
    font-weight: 700;
    left: 59%;
    font-size: 60px;
    top:   1235px;
     position: absolute;
}
.Number4{
    font-weight: 700;
    left: 84%;
    font-size: 60px;
    top:   1235px;
     position: absolute;
}

}